<div class="ion-padding">
    <p>Au niveau <strong>{{game.level}}</strong> en difficulté <strong>{{game.difficulty}}</strong> :</p>
    <ul>
        <li><strong>{{game.config.serieSize}}</strong> chiffres</li>
        <li>entres <strong>{{-1 * game.config.range}}</strong> et <strong>{{game.config.range}}</strong></li>
        <li>affichés pendant <strong>{{game.config.timePrinted}}</strong> millisecondes</li>
    </ul>
    <p>Bonne chance !</p>
    <ion-button (click)="startPlaying()">Je suis pret</ion-button>
</div>
