<div class="game-detail-container">

  <div>
    <div>
      Level : {{ this.game().currentLevelId }}
    </div>

    <div *ngIf="gameState() === gameStateType.READY">
      <button (click)="updateGameState(gameStateType.IN_PROGRESS)">Start</button>
    </div>
    <div *ngIf="gameState() === gameStateType.IN_PROGRESS">
      <app-level-start
        [numbers]="currentLevel().numbers.numbers"
        (endDisplay)="updateGameState(gameStateType.END)"
      />
    </div>
    <div *ngIf="gameState() === gameStateType.END">
      <app-level-end
        [gameId]="game().gameId"
        [currentLevelId]="game().currentLevelId"
      />
    </div>
  </div>

  <div>
    DEBUG
    <p>game  {{ game() | json }}</p>
    <p>game level {{ currentLevel() | json }}</p>
    <p>Current game state {{ gameState() }}</p>
  </div>

</div>

