<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="!backButton"></ion-menu-button>
        </ion-buttons>
        <ion-title>Jeu</ion-title>
        <ion-back-button #backButton slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-game-sequence *ngIf="!sequenceIsOver" [number$]="number$" [timePrinted]="game.config.timePrinted"></app-game-sequence>
    <app-game-user-answer *ngIf="sequenceIsOver && !userAnswerMessage" [answer]="game.getAnswer()" (userIsCorrect)="answered($event)"></app-game-user-answer>
    <div *ngIf="userAnswerMessage" class="ion-margin">
        {{userAnswerMessage}}
    </div>
</ion-content>