<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="!backButton"></ion-menu-button>
        </ion-buttons>
        <ion-title>Jeu - Niveau {{currentLevel}}</ion-title>
        <ion-back-button #backButton [defaultHref]="ROOT_PATH" slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-game-sequence *ngIf="!sequenceIsOver" [number$]="number$" [timePrinted]="game.config.timePrinted"></app-game-sequence>
    <app-game-user-answer (answered)="userIsCorrect = $event" *ngIf="sequenceIsOver && userIsCorrect === null" [answer]="game.getAnswer()"></app-game-user-answer>
    <app-after-game-options (nextGame)="nextGame()" (restart)="restart()" *ngIf="sequenceIsOver && userIsCorrect !== null" [game]="game" [userIsCorrect]="userIsCorrect"></app-after-game-options>
</ion-content>