<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitAnswer()">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">Le compte est :</ion-label>
                    <ion-input type="number" formControlName="answer"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
                <ion-button type="submit" [disabled]="!form.valid">
                    C'est mon dernier mot
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
