<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Comment jouer ?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h2>Calculis</h2>
    <p>Des chiffres vont s'afficher (0, +2, -3, ...)</p>
    <h3>Un peu de calcul mental</h3>
    <p>Faites la somme des chiffres qui s'affichent, et donnez le bon compte à la fin.</p>
    <p>Si le compte est bon, on recommence, mais avec un peu plus de difficulté :</p>
    <ul>
        <li>Plus de chiffres</li>
        <li>Plus grands</li>
        <li>Plus vite</li>
    </ul>
    <p>Vous pouvez revenir à l'écran d'accueil ou quitter l'application, votre progression est sauvegardée.<br/>
        Mais ne quittez pas en cours de partie, sinon c'est perdu !</p>
    <div *ngIf="isNotConnected$ | async">
        <p>Connectez vous pour sauvegarder vos scores et pouvoir reprendre une partie en cours !</p>
        <ion-button (click)="connect()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Connexion
        </ion-button>
    </div>
    <p>Bonne chance !</p>

    <ion-button (click)="goToPlay()">C'est parti</ion-button>
    <ion-button (click)="goToWaitForOpponent()">Chercher un adversaire</ion-button>
</ion-content>
