<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Comment jouer ?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h2>Calculis</h2>
    <p>Des nombres vont s'afficher (0, +2, -3, ...)</p>
    <h3>Un peu de calcul mental</h3>
    <p>Faites la somme des nombres qui s'affichent, et donnez le bon compte à la fin.</p>
    <p>Si le compte est bon, on recommence, mais avec un peu plus de difficulté :</p>
    <ul>
        <li>Plus de nombres</li>
        <li>Plus grands</li>
        <li>Plus vite</li>
    </ul>
    <p>Au niveau <strong>1</strong>, les paramètres seront :
        <strong>{{defaultConfig.serieSize}}</strong> nombres
        entre <strong>{{-1 * defaultConfig.range}}</strong> et <strong>{{defaultConfig.range}}</strong>
        qui resteront affichés <strong>{{defaultConfig.timePrinted}}</strong> millisecondes.
    </p>
    <p>Bonne chance !</p>

    <ion-button (click)="goToPlay()">C'est parti</ion-button>
</ion-content>
